.container {
    display: flex;

    border: 5px;
    border-style: solid;

    height: 960px;
    width: 960px;

}

.row {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.gridElement {
    display: flex;
    flex: 1;
    border: 1px;
    border-style: solid;
}